#experiencia {
    background-color: #1a202c;
    color: white;
    padding: 2rem 0;
}
.contenedor {
    max-width: 1040px;
    margin: 0 auto;
    padding: 1rem;
}
.titulo {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #f7fafc;
}

.experiencia-lista {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 20px;
    overflow: hidden;
}

.experiencia-item {
    position: relative;
    margin-bottom: 3rem;
    list-style-type: none;
    padding-left: 2rem;
    opacity: 0;
    transform: translateX(-20px);
    animation: aparecer 1s ease-out forwards;
}

.experiencia-item:nth-child(1) {
    animation-delay: 0.5s;
}

.experiencia-item:nth-child(2) {
    animation-delay: 1s;
}

.experiencia-item:nth-child(3) {
    animation-delay: 1.5s;
}

.experiencia-item:nth-child(4) {
    animation-delay: 2s;
}
.experiencia-item:nth-child(5) {
    animation-delay: 2.5s;
}
@keyframes aparecer {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.punto {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #38a169;
    border-radius: 50%;
    border: 2px solid white;
    left: -8px;
    top: 5px;
}
.info-principal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    gap:1rem
}

.anios {
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    color: white;
    background-color: #2f855a;
    border-radius: 999px;
}

.titulo-trabajo {
    font-size: 1.25rem;
    font-weight: bold;
    color: #38a169;
}

.lugar {
    font-size: 1rem;
    font-weight: bold;
    color: #f6ad55;
}

.duracion {
    font-size: 1rem;
    font-weight: bold;
    color: #f6ad55;
}
.separador {
    color: #cbd5e0;
}
.detalles {
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
    white-space: pre-line;
}
.detalles span,br{
    gap:10px;
    color: red;
    font-style: italic;
}
.celula{
    font-size: 1.2rem;
}
.detalles span{
        color: #f6ad55;

}
@media (min-width: 768px) {
    .info-principal {
      flex-direction: unset;
      align-items: center;
      gap:10px;
    }
    .anios {
        padding: 0.25rem 0.5rem;
        font-weight: bold;
        color: white;
        background-color: #2f855a;
        border-radius: 999px;
    }
}
