<!DOCTYPE html>
<html lang="en">

<body>
  <div id="experiencia">
    <div class="contenedor">
      <h1 class="titulo">EXPERIENCIA LABORAL</h1>
      <ol class="experiencia-lista">
        <!-- Trabajo 1 -->
        <li class="experiencia-item">
          <div class="punto"></div>
          <div class="info-principal">
            <span class="anios">Jun-24 - Act</span>
            <span class="titulo-trabajo">Desarrollador .Net</span>
            <span class="separador">|</span>
            <span class="lugar">Valkimia</span>
          </div>
          <p class="detalles">
            En Valkimia/ aprnedí y fortalecí mis habilidades como desarrollador backend
          </p>
          <p class="detalles">
            Durante esta experiencia, desarrollé un proyecto que simulaba un torneo de tenis, aplicando los principios SOLID, el patron Product Consumer y la separación en capaz.                
          </p>
          <p>Este proyecto fue resaltado por el principio de buenas practicas e implementar test unitarios,logrando reforzar el comportamiento del código realizado</p>
                </li>
        <li class="experiencia-item">
            <div class="punto"></div>
            <div class="info-principal">
              <span class="anios">Oct-22 - Act</span>
              <span class="titulo-trabajo">Desarrollador Full stack</span>
              <span class="separador">|</span>
              <span class="lugar">Freelance</span>
            </div>
            <p class="detalles">
              Como desarrollador freelance me encontré con la oportunidad de captar clientes y proponer mejoras en sus aplicaciones.
              Desde webs a aplicaciones de escritorio. 
            </p>
            <p class="detalles">
              Durante mi rol, aplique mis conocimientos técnicos trabajando 
                        </p>
          </li>
      </ol>
    </div>
  </div>
</body>
</html>
