.btn {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;


}

.btn h3 {
    text-align: center;
    font-size: 22px;
    color: white;
}

#btns a {
    display: inline-block;
    margin: 20px;
    color: white;
    font-size: 3em;
}

#btns a:hover {
    color: #ccc;
}