<div class="body">

  <section class="contacto">
    <article id="linkedin">
        <a href="https://www.linkedin.com/in/carlos-palladino/" target="_blank">
            <i class="fa-brands   fa-beat fa-linkedin fa-lg"></i>
            <span>Linkedin</span>
        </a>
    </article>
    <article id="github">
        <a href="https://github.com/CarlosPalladino" target="_blank">
            <i class="fa-brands fa-beat fa-github fa-lg"></i>
            <span>Github</span>
        </a>
    </article>
    <article id="emails">
        <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJZWPwtBKrQHpCQvpHCBXnpTSWpMmBMwGvzwhtHdSzxLVsZzWVcSPBkwgZRFFhncDHGNlCg" target="_blank">
            <i class="fa-regular  fa-beat fa-envelope fa-lg"></i>
            <span>Email</span>
        </a>
    </article>
</section>



  <div class="form">
    <form action="https://formsubmit.co/carlosezequiel19palladino@gmail.com" method="post">
      <div class="mb-3 row">
        <div class="col">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Tu nombre" required>
        </div>
        <div class="col">
          <label for="apellido" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Tu apellido" required>
        </div>
      </div>

      <div class="mb-3">
        <label for="asunto" class="form-label">Asunto</label>
        <input type="text" class="form-control" id="asunto" name="asunto" placeholder="Asunto del mensaje" required>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="tu@correo.com" required>
      </div>

      <div class="mb-3">
        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea class="form-control" id="mensaje" name="mensaje" rows="5" placeholder="Escribe tu mensaje"
          required></textarea>
      </div>

      <button type="submit" class="btn btn-warning btn">Enviar</button>
    </form>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </div>

  <!-- Bootstrap JS (opcional, pero necesario para algunas características de Bootstrap) -->