/* :host {
  display: block;
  background: radial-gradient(ellipse 100% 100% at 50% 0%, #7877c64d, transparent),
              radial-gradient(ellipse 100% 100% at 50% 100%, #7877c64d, transparent);
  background-color: #0f0e17;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} */

.body {
    color: whitesmoke;
     display: block;
  background: radial-gradient(ellipse 100% 100% at 50% 0%, #7877c64d, transparent),
              radial-gradient(ellipse 100% 100% at 50% 100%, #7877c64d, transparent);
  background-color: #0f0e17;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
      min-height: 100vh; /* o un valor suficiente */

}
.contacto {
    text-align: center;
    height: 15%;
    padding: 2rem;
    margin-top: 2rem;
}
.contacto article a i {
    margin-right: 10px;
}
.contacto article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6px 15px;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 2rem;
}
#linkedin {
    display: flex;
    background: #00a0dc;
    justify-content: space-around;
}
#github {
    display: flex;
    justify-content: space-around;
    background: #373b41;
}
#emails {
    background: #e53e3e;
}
.contacto a {
    color: whitesmoke;
    text-decoration: none;
}
.form {
    height: 45%;
    border-radius: 20px;
    padding: 2rem;
    /* background-image: radial-gradient(ellipse 50% 75% at 50% 47%, #7877c64d, #fff0); */
}
.form button {
    display: block;
    margin: 2rem;
    padding: 0.5rem 2rem;
    background-color: #17a2b8;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    margin: auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.form button:hover {
    background-color: #138496;
}

span,
p {
    font-style: italic;
}
@media (min-width: 768px) {

    .body {
        justify-content: space-around;
    }

    body,
    h3,
    h4,
    label {
        text-align: center;
        color: whitesmoke;
    }

    .contact {
        margin-top: 8rem;
        padding: 2rem;
        height: 25%;
        gap: 1rem;
        border-radius: 20px;
        font-size: 22px;
    }

    #linkedin,
    #github,
    #emails {
        width: 50%;
        margin: auto;
        margin-top: 2rem;
    }

    .form {
        /* background-image: radial-gradient(ellipse 21% 75% at 50% 47%, #7877c64d, #fff0); */
        height: 45%;
        padding: 4rem;
        border-radius: 20px;
    }

    .form p {
        color: black;
    }

    form button {
        align-items: center;
    }
}

@media(min-width: 1024px) {
    .body {
        display: flex;
        /* margin: auto; */
        /* border-radius: 20px; */
        /* background-image: radial-gradient(ellipse 21% 70% at 50% 74%, #7877c64d, #fff0); */

    }

    .contacto {
        display: flex;
        flex-direction: column;
        width: 40%;
        gap: 1rem;
        justify-content: space-around;
        color: #fff;
        margin: auto;
    }

    .form {
        /* margin: auto; */
        display: flex;
        border-radius: 2px;
    }
}