<div class="body">

    <h2>Proyectos</h2>
<!-- 
    <div id="Proyectos">
        <article>

            <div class="texto">
                <h2><a href="https://github.com/CarlosPalladino/Poke-web" target="_blank">PokeApp</a></h2>
                <h5>07/2023-08/2023</h5>

                <h4>Objetivo:</h4>
                <p>Armé una Api Rest para aprender e implementar .Netcore, migrar una base de datos usando Entity
                    Framework y el uso de DTOS y AutoMapper para manejar datos.</p>
                <h4>Tecnologias:</h4>
                <p>Utilicé .Net Core, Sql Server, Entity Framework, Swagger, DTOS y AutoMapper.</p>
                <h4>Logros:</h4>
                <p>Aumenté la velocidad de respuesta promedio de la base de datos un 50%, donde apliqué el uso de
                    Automapper y Dtos para enviar datos que no sean sensibles.</p>
            </div>
            <div class="img-container">
                <img src="app/pages/Images/Proyectos/Api.jpg" class="img" alt="PokeImg">
            </div>
        </article>
        <article>
            <div class="texto">
                <h2><a href="https://github.com/CarlosPalladino/TpFinalNivel3_Palladino" target="_blank">Tiendilla</a>
                </h2>
                <h5>06/2023-07/2023</h5>
                <h4>Objetivo:</h4>
                <p>Una web estatica que le permita a los administradores gestionar sus
                    productos y su visualización.</p>
                <h4>Tecnologias:</h4>
                <p>Utilicé .Net Framework 4.6.2, Sql Server, Bootstrap y Asp.net.</p>
                <h4>Logros:</h4>
                <p>Apliqué las validaciones de ASP a los formularios de bootstrap, personalicé los RegEx para que estos
                    brinden una respuesta clara del error.</p>
            </div>
            <div class="img-container">
                <img src="app/pages/Images/Proyectos/ProyectoMaxiProgramaNivel3.jpg" class="img" alt="Maxi2">
            </div>
        </article>
        <article>
            <div class="texto">
                <h2><a href="https://github.com/CarlosPalladino/DynosGym" target="_blank">DynosApp</a></h2>
                <h5>04/2023-05/2023</h5>
                <h4>Objetivo:</h4>
                <p>Diseñé y desarrollé una aplicación de escritorio WinForms aplicando varias vistas con su propia
                    funcionalidad.</p>
                <h4>Tecnologias:</h4>
                <p>Utilicé .Net Framework 4.6.2, Sql Server y múltiples WinForm para cada sección de la aplicación.</p>
                <h4>Logros:</h4>
                <p>Implementé los principios S.O.L.I.D para hacer que mi código sea más fácil de leer y mantener.</p>
            </div>
            <div class="img-container">
                <img src="app/pages/Images/Proyectos/DynosApp.jpg" class="img" alt="Maxi2">
            </div>
        </article>
    </div>
 -->
<style>
    /* CSS para el efecto hover */
    .card {
        position: relative;
    }

    .card-text {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
    }

    .card:hover .card-text {
        max-height: 200px; /* Ajusta este valor según sea necesario */
        opacity: 1;
    }

    .card-title, .card-text {
        color: whitesmoke !important;
        font-style: italic;
        background-color: #231B3B;

    }

    .card:hover .fecha {
        opacity: 0;
    }

    .card-body {
        background-color: #231B3B;
    }

</style>

<div id="Proyectos">
    <article>
        <div class="card" style="width: 18rem;">
            <img src="app/pages/Images/Proyectos/Api.jpg" class="card-img-top" alt="PokeImg">
            <div class="card-body">
                <h5 class="card-title" style="color: black; font-style: italic;"><a href="https://github.com/CarlosPalladino/Poke-web" target="_blank">PokeApp</a></h5>
                <h5 class="card-title fecha" style="color: black; font-style: italic;">07/2023-08/2023</h5>
                <p class="card-text objetivo" style="color: black; font-style: italic; margin-top: 10px;">Armé una Api Rest para aprender e implementar .Netcore, migrar una base de datos usando Entity Framework y el uso de DTOS y AutoMapper para manejar datos.</p>
            </div>
        </div>
    </article>

    <article>
        <div class="card" style="width: 18rem;">
            <img src="app/pages/Images/Proyectos/ProyectoMaxiProgramaNivel3.jpg" class="card-img-top" alt="Maxi2">
            <div class="card-body">
                <h5 class="card-title" style="color: black; font-style: italic;"><a href="https://github.com/CarlosPalladino/TpFinalNivel3_Palladino" target="_blank">Tiendilla</a></h5>
                <h5 class="card-title fecha" style="color: black; font-style: italic;">06/2023-07/2023</h5>
                <p class="card-text objetivo" style="color: black; font-style: italic; margin-top: 10px;">Una web estática que le permita a los administradores gestionar sus productos y su visualización.</p>
            </div>
        </div>
    </article>

    <article>
        <div class="card" style="width: 18rem;">
            <img src="app/pages/Images/Proyectos/DynosApp.jpg" class="card-img-top" alt="Maxi2">
            <div class="card-body">
                <h5 class="card-title" style="color: black; font-style: italic;"><a href="https://github.com/CarlosPalladino/DynosGym" target="_blank">DynosApp</a></h5>
                <h5 class="card-title fecha" style="color: black; font-style: italic;">04/2023-05/2023</h5>
                <p class="card-text objetivo" style="color: black; font-style: italic; margin-top: 10px;">Diseñé y desarrollé una aplicación de escritorio WinForms aplicando varias vistas con su propia funcionalidad.</p>
            </div>
        </div>
    </article>
</div>



</div>