<div class="body">

    <h2>Proyectos</h2>

    <div id="Proyectos" class="row row-cols-1 row-cols-md-2 g-4">
        
        <!-- Proyecto 1 -->
        <article class="col">
            <div class="project-container">
                <a href="https://github.com/CarlosPalladino/PokemonReviewAppp" target="_blank">
                    <img src="app/pages/Images/Proyectos/Api.jpg" class="card-img-top img" alt="PokeImg">
                </a>
                <div class="card-body">
                    <h5 class="card-title">PokemonReviewAppp</h5>
                </div>
            </div>
        </article>

        <!-- Proyecto 2 -->
        <article class="col">
            <div class="project-container">
                <a href="https://github.com/CarlosPalladino/DynosGym" target="_blank">
                    <img src="app/pages/Images/Proyectos/DynosApp.jpg" class="card-img-top img" alt="Maxi2">
                </a>
                <div class="card-body">
                    <h5 class="card-title">DynosGym</h5>
                    <!-- <h5 class="card-title fecha">04/2023-05/2023</h5> -->
                  
                </div>
            </div>
        </article>

        <!-- Proyecto 3 -->
        <article class="col">
            <div class="project-container">
                <a href="https://github.com/CarlosPalladino/TpFinalNivel3_Palladino" target="_blank">
                    <img src="app/pages/Images/Proyectos/ProyectoMaxiProgramaNivel3.jpg" class="card-img-top img" alt="Maxi2">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Tiendilla</h5>
                </div>
            </div>
        </article>

    </div>
</div>
