.body {
    text-align: center;
}

#Proyectos article {
    display: block;
    color: whitesmoke;
    padding: 2rem;
    border-radius: 20px;
    transition: 0.3s;
    padding: 10px;
    border-radius: 20px;
    margin-top: 2rem;
}
.card-body span{
    color: yellow !important;
    font-style: italic;
}
.card {
    position: relative;
    border: none !important;
    text-align: left ;
    background-color: #231B3B;
    
}
.card img{
    object-fit: cover;
}
.card-text {
   
    padding: 5px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
}
.card-title,
.card-text {
    font-style: italic;
    text-align: left ;
}

.card:hover .fecha {
    opacity: 0;
}


#Proyectos h2,
h4,
h5 {
    text-align: center;
    color: whitesmoke;
    /* font-style: italic; */
    padding: 4px;

}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.texto,
.img-container {
    flex: 1;
}

.img {
    width: 100%;
    border-radius: 10px;
}

@media (min-width: 768px) {
    #Proyectos {
        color: black;

    }

    .card-body,
    h5,
    p {
        text-align: center;
        padding: 1rem;

    }


    #Proyectos article {
        display: flex;
        border-radius: 20px;
        transition: 0.3s;
    }



    #Proyectos article h4 {
        font-style: italic;
        
    }

    #Proyectos article p {
        font-size: 20px;
        text-align: center;
    }

    .img-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-container {
        width: 30%;

    }

    .card-img-top {
        width: 100%;
        padding: 1rem;
    }
}

@media (min-width: 1024px) {
    

    
    
    .body h2 {

        margin-top: 5rem;
        text-decoration: none;

    }
    .card-text {
        display: none; /* Ocultar el texto por defecto */
    }
    
    .card:hover .card-text {
        display: block; /* Mostrar el texto al pasar el mouse sobre la tarjeta */
        text-align: center;
    }
    
    .body h2:hover {
        text-decoration: underline;
        color: #231B3B;
    }
    .card-img-top {
        padding: 2rem;
        border: none;
    }

    .card-body, p {
        margin: auto;
        width: 70%;
    }

    .card-body,
    h5,
    p {
        text-align: center;
        padding: 1rem;

    }

    #Proyectos h2,
    h4,
    h5 {
        text-align: center;
        color: whitesmoke;
        font-style: italic;
        padding: 4px;

    }

    #Proyectos article {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }

    .texto {
        padding: 2rem;
    }

    .img-container {
        padding: 1rem;

    }

    .card-body:hover {
        padding: 1rem;
        text-align: center;
    }

    .img {
        width: 70%;
    }


}