<div class="body">

    <h2>Proyectos</h2>

    <!-- <h3>en .Net</h3> -->
 <div id="Proyectos" class="row row-cols-1 row-cols-md-2 g-4">
    <article class="col">
        <div class="card">
            <a href="https://github.com/CarlosPalladino/PokemonReviewAppp" target="_blank">
                <img src="app/pages/Images/Proyectos/Api.jpg" class="card-img-top img" alt="PokeImg">
            </a>
            <div class="card-body">
                <h5 class="card-title">PokeApp</h5>
                <h5 class="card-title fecha">07/2023-08/2023</h5>
                <p class="card-text objetivo">Una Api Rest hecha en .Net Core 6 y Entity Framework </p>
            </div>
        </div>
    </article>



    <article class="col">
        <div class="card">
            <a href="https://github.com/CarlosPalladino/DynosGym" target="_blank">
                <img src="app/pages/Images/Proyectos/DynosApp.jpg" class="card-img-top img" alt="Maxi2">
            </a>
            <div class="card-body">
                <h5 class="card-title">DynosApp</h5>
                <h5 class="card-title fecha">04/2023-05/2023</h5>
                <p class="card-text objetivo">Aplicacion de escritorio creada para un gimnasio</p>
            </div>
        </div>
    </article>

    <article class="col">
        <div class="card">
            <a href="https://github.com/CarlosPalladino/TpFinalNivel3_Palladino" target="_blank">
                <img src="app/pages/Images/Proyectos/ProyectoMaxiProgramaNivel3.jpg" class="card-img-top img" alt="Maxi2">
            </a>
            <div class="card-body">
                <h5 class="card-title">Tiendilla</h5>
                <h5 class="card-title fecha">06/2023-07/2023</h5>
                <p class="card-text ">Web hecha en Asp .Net y Sql server '19' <span>Maxi Programa</span></p>
            </div>
        </div>
        <!-- <h3>Proyectos hechos en Maxi Programa</h3> -->
    </article>
</div>



</div>