.body {
    text-align: center;
}

#Proyectos article {
    display: block;
    color: whitesmoke;
    border-radius: 20px;
    transition: 0.3s;
    padding: 10px;

}

.card {
    position: relative;
    border: none !important;
    /* background-color: #231b3b;
    border-radius: 20px; */
}

.card-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
}

.card:hover .card-text {
    max-height: 200px;
    /* Ajusta este valor según sea necesario */
    opacity: 1;
}

.card-title,
.card-text {
    color: whitesmoke !important;
    font-style: italic;
    background-color: #231b3b;
}

.card:hover .fecha {
    opacity: 0;
}

.card-body {
    background-color: #231b3b;
    border-radius: 10px 10px;
}


#Proyectos h2,
h4,
h5 {
    text-align: center;
    color: whitesmoke;
    font-style: italic;
    padding: 4px;

}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.texto,
.img-container {
    flex: 1;
}

.img {
    width: 100%;
    border-radius: 10px;
}

@media (min-width: 768px) {
    #Proyectos {
        color: black;

    }

    .card-body,
    h5,
    p {
        text-align: center;
        padding: 1rem;

    }


    #Proyectos article {
        display: flex;
        padding: 2rem;
        margin-top: 2rem;
        transition: 0.3s;
    }



    #Proyectos article h4 {
        font-style: italic;
    }

    #Proyectos article p {
        font-size: 20px;
        padding: 3px;
    }

    .img-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-container {
        width: 30%;

    }

    .card-img-top {
        width: 100%;
        padding: 1rem;
    }
}

@media (min-width: 1024px) {
    .card-img-top {
        padding: 2rem;
        border: none;
    }

    .card-body, p {
        margin: auto;
        width: 70%;
    }

    .card-body,
    h5,
    p {
        text-align: center;
        padding: 1rem;

    }

    #Proyectos h2,
    h4,
    h5 {
        text-align: center;
        color: whitesmoke;
        font-style: italic;
        padding: 4px;

    }

    #Proyectos article {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }

    .texto {
        padding: 2rem;
    }

    .img-container {
        padding: 1rem;

    }

    .card-body:hover {
        padding: 1rem;
    }

    .img {
        width: 70%;
    }


}