<div class="body">

    <h2>Proyectos</h2>
    <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mis proyectos 
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#Proyectos de .Net">Proyectos en .Net</a></li>
          <li><a class="dropdown-item" href="#Otros">Otros</a></li>
        </ul>
      </div>  -->
    <!-- <h3>En .Net</h3>  -->
    <div id="Proyectos" class="row row-cols-1 row-cols-md-2 g-4">
        <article class="col">
            <div class="card">
                <a href="https://github.com/CarlosPalladino/PokemonReviewAppp" target="_blank">
                    <img src="app/pages/Images/Proyectos/Api.jpg" class="card-img-top img" alt="PokeImg">
                </a>
                <div class="card-body">
                    <h5 class="card-title">PokemonReviewAppp</h5>
                    <!-- <h5 class="card-title fecha">07/2023-08/2023</h5> -->
                    <p class="card-text objetivo">Este proyecto es una APi Rest creada con la finalidad de aprender el
                        uso de <span>inyección de dependencia</span>,<span>Entity Framework </span> y
                        <span>AutoMapper</span></p>
                    <span>Tecnologias</span>

                </div>
            </div>
        </article>



        <article class="col">
            <div class="card">
                <a href="https://github.com/CarlosPalladino/DynosGym" target="_blank">
                    <img src="app/pages/Images/Proyectos/DynosApp.jpg" class="card-img-top img" alt="Maxi2">
                </a>
                <div class="card-body">
                    <h5 class="card-title">DynosGym</h5>
                    <!-- <h5 class="card-title fecha">04/2023-05/2023</h5> -->
                    <p class="card-text objetivo">Aplicacion de escritorio creada para un gimnasio</p>
                    <span>Tecnologias</span>

                </div>
            </div>
        </article>

        <article class="col">
            <div class="card">
                <a href="https://github.com/CarlosPalladino/TpFinalNivel3_Palladino" target="_blank">
                    <img src="app/pages/Images/Proyectos/ProyectoMaxiProgramaNivel3.jpg" class="card-img-top img"
                        alt="Maxi2">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Tiendilla</h5>
                    <!-- <h5 class="card-title fecha">06/2023-07/2023</h5> -->
                    <p class="card-text ">Este proyecto es una aplicación web creada para la evaluación del cursso C#°3  de <span>Maxi Programa</span></p>
                    <span>Tecnologias</span>
                </div>
            </div>
            <!-- <h3>Proyectos hechos en Maxi Programa</h3> -->
        </article>

     
        

    </div>

