.About {
    background-color: #1a202c;

}

.About h2,
h1 {
    text-align: center;
    margin-top: 2rem;
    color: #ffff;
}

.txt {
    margin-top: 4px;
    padding: 1rem;
    text-align: center;
    font-style: italic;
    text-align: center;
    color: whitesmoke;
    border-radius: 20px;
}

.txt h4 {
    font-style: italic;
    font-weight: bold;
}

#Presentation {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}

.img {
    width: 100%;
    border-radius: 34%;
    margin-top: 1rem;

}

#buttons {
    padding: 2rem;
    margin: 2rem;
    display: flex;
    justify-content: space-evenly;
}

#buttons a {
    background-color: whitesmoke;
    color: whitesmoke;
    border: none;
    background-color: #231B3B;
}

.carousel-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
    border-radius: 20px;
    padding: 10px;
    font-size: 8rem;
    height: auto;
}


.contenedor-del-boton {
    text-align: center;
    background-color: var(--orange-red);
    font-size: var(--fs-14);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 22px;
    box-shadow: 6px 6px 0 -1px var(--shadow-color, var(--jet));
    transition: var(--transition-1);
}

.carousel-item i {
    font-size: 5rem;
    width: 100%;
}

.cv {
    color: forestgreen;
    padding: 1rem;
    border-radius: 20px;
}

#about-me {
    margin: 2rem;
}

.Intro {
    color: white;
}

#about-me article {
    background-color: #231B3B !important;
    color: whitesmoke;
    padding: 2rem;
    margin-top: 2rem;
    width: 100%;
    text-align: center;

    border-radius: 20px;
}

#about-me h3 {
    text-align: center;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.images div {
    position: relative;
    text-align: center;
}

.images img {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    width: 60px;
    height: 80px;
    object-fit: contain;
}

.images img:hover {
    filter: grayscale(0%);
    transform: scale(1.5);
}

.images span {
    display: none;
    font-size: 0.8rem;
    color: whitesmoke;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.images div:hover span {
    display: block;
    color: orange;
    transition: color 0.3s ease;
}

@media(min-width:768px) {
    #Presentation {
        display: flex;
        flex-direction: column;

    }

    .txt {
        margin-top: 1rem;
        text-align: center;
        color: whitesmoke;
        text-align: center;
        font-style: italic;

    }

    .Intro {
        text-align: center;
        font-style: italic;
        padding: 1rem;
    }

    .img-container {
        width: 100%;
    }

    .img {
        width: 58%;
        border-radius: 34%;
    }

    .images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .images div {
        position: relative;
        text-align: center;
        margin: 10px;
    }

    .images img {
        filter: grayscale(100%);
        transition: filter 0.3s ease;
        width: 80px;
        height: 80px;
        object-fit: contain;
    }

    .images img:hover {
        filter: grayscale(0%);
        transform: scale(1.5);
    }

    .images span {
        display: none;
        font-size: 0.8rem;
        color: whitesmoke;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .images div:hover span {
        display: block;
        color: orange;
        transition: color 0.3s ease;
    }

}

@media(min-width:1024px) {
.fondo-borroso {
background-image: url("../Images/code.jpg") ;
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: 0;
}
.presentation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 1024px;
  margin: auto;  
  padding: 1rem;
  gap: 5rem;
z-index: 2;
}
.Intro{
    color: red;
    font-weight: normal;
    line-height: 1.6;
    white-space: pre-line;
    padding: 0; 

}
.perfil{
    width: 30%;
    text-align: center;
}
 .img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ccc;
}
.txt {
  text-align: center;
}
/* 
    .Intro p {
        padding: 6em 3em 3em 3em;
        width: calc(100% - 30%);
    }
    #Presentation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .img {
        width: 50%;

    }

    .txt {
        width: auto;
        gap: 1rem;
        text-align: center;

    }

    .txt h2 {
        text-align: center;
        font-size: 1.5rem;
        overflow: hidden;
        border-right: 0.15em solid orange;
        white-space: nowrap;
        margin: 0 auto;
        padding-right: 0.25em;
        animation: typing 6s steps(30, end), blink-caret 0.80s step-end infinite;
    } */

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 100%;
        }
    }

    @keyframes blink-caret {

        from,
        to {
            border-color: transparent;
        }

        50% {
            border-color: orange;
        }
    }



    .About h3:hover {
        text-decoration: 2px underline;
    }

    .images {
        display: flex;
        justify-content: center;

    }

    .images img {
        width: 6%;
        object-fit: contain;
        padding: 1.5rem;

    }

    #about-me h3 {
        text-align: center;
    }

    .contenedor-del-boton {
        gap: 4rem;

    }

    .cv {
        /* background-color: yellow; */
        color: forestgreen;
        border-radius: 9999px;
        box-shadow: 0 4px 6px rgba(0, 128, 0, 0.5);
        justify-content: space-around;
        cursor: pointer;
        font-weight: 700;
        transition: transform 300ms, background-color 300ms;
    }

    .cv:hover {
        transform: scale(1.1);
        background-color: green;
    }

    #buttons {
        display: flex;
        justify-content: space-evenly;
    }


    .images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .images div {
        position: relative;
        text-align: center;
        margin: 10px;
    }

    .images img {
        filter: grayscale(100%);
        transition: filter 0.3s ease;
        width: 100px;
        height: 100px;
        object-fit: contain;
    }

    .images img:hover {
        filter: grayscale(0%);
        transform: scale(1.5);
    }

    .images span {
        display: none;
        font-size: 0.8rem;
        color: whitesmoke;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .images div:hover span {
        display: block;
        /* Muestra el texto al pasar el mouse */
        color: orange;
        transition: color 0.3s ease;
    }


}