<div class="About">

    <section id="Presentation">
        <article class="img-container">
            <img src="app/pages/Images/FotoFondo.png" class="img" alt="Foto de perfil">
        </article>
        <article class="txt">
            <h1>
                &#60; Carlos Palladino &#47;&#62;
            </h1>
            <h2 class="typing-effect">desarrollador full stack .Net </h2>
        </article>

    </section>

    <div id="buttons">
        <a href="#proyecto" target="_blank">
            <button class="cv">Proyectos</button>
        </a>
        <a href="#contacto" target="_blank">
            <button class="cv">Github</button>
        </a>
    </div>
    <h1>Stack</h1>
    <article>
        <h2>Lenguajes</h2>
    </article>
    <div class="images">
        <div>
            <img src="app/pages/Images/Tecnologias/c-sharp.png" alt="C#">
            <span>C#</span>
        </div>
        <div>
            <img src="app/pages/Images/Tecnologias/rreact.png" id="imgsr" alt="React">
            <span>React</span>
        </div>
        <div>
            <img src="app/pages/Images/Tecnologias/mysql.png" alt=".NET">
            <span>MySQL</span>
        </div>
        <div>
            <img src="app/pages/Images/Tecnologias/nodejs.png" alt=".NET">
            <span>Node.js</span>
        </div>
        <div>
            <img src="app/pages/Images/Tecnologias/sql-server.png" id="imgs" alt=".NET">
            <span>SQL Server</span>
        </div>
        <div>
            <img src="app/pages/Images/Tecnologias/js.png" id="imgsr" alt=".NET">
            <span>JavaScript</span>
        </div>
        <div>
            <img src="app/pages/Images/Tecnologias/Angular.png" id="imgs" alt=".NET">
            <span>Angular</span>
        </div>
        <div>
            <img src="app/pages/Images/Tecnologias/.net.png" id="imgsr" alt=".NET">
            <span>.NET</span>
        </div>
    </div>

    <h2>Herramientas</h2>

    <div class="images">
        <div>
            <img src="app/pages/Images/herramientas/figma.png" alt="C#">
            <span>Figma</span>
        </div>
        <div>
            <img src="app/pages/Images/herramientas/git.png" alt="Git">
            <span>Git</span>
        </div>
        <div>
            <img src="app/pages/Images/herramientas/notion.png" alt="Bootstrap">
            <span>Notion</span>
        </div>
        <div>
            <img src="app/pages/Images/herramientas/postman.png" alt="Bootstrap">
            <span>Postman</span>
        </div>
        <div>
            <img src="app/pages/Images/herramientas/bootstrap.png" id="imgs" alt="Bootstrap">
            <span>Bootstrap</span>
        </div>
    </div>


    <div class="contenedor-del-boton">
        <a href="app/pages/Images/CV/CarlosPalladinoCv.pdf" target="_blank">
            <button class="cv">Descarga mi cv</button>
        </a>
        <a href="https://www.linkedin.com/in/carlos-palladino/" target="_blank">
            <button class="cv">Linkedln</button>
        </a><a href="https://github.com/CarlosPalladino" target="_blank">
            <button class="cv">Github</button>
        </a>
    </div>
    <div>
        <app-experiencia></app-experiencia>
    </div>
    <div>
        <app-certificaciones></app-certificaciones>
    </div>
    <div id="proyecto">
        <app-proyectos></app-proyectos>
    </div>
    <div id="contacto">
        <app-contacto></app-contacto>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</div>