.About h2 {
    text-align: center;
}

.Hello {
    background-color: #231B3B;
    height: 40%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 0 20px;
}

.txt {
    margin-top: 4px;
    padding: 1rem;
    text-align: center;
}

.txt h3,
span,
p {
    color: whitesmoke;
}

.txt span {
    font-style: italic;
    font-weight: bold;
}

#Presentation {
    display: flex;
    flex-direction: column;
}

.img-container {
    width: 50%;
    margin: auto;
}

.img {
    width: 100%;
}

#buttons {
    padding: 2rem;
    margin: 2rem;
    display: flex;
    justify-content: space-evenly;
}

#buttons a {
    background-color: whitesmoke;
    color: black;
}

.carousel-item i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
    height: 100px;
}

.contenedor-del-boton {
    text-align: center;
    margin-top: 1rem;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    color: black;
    background-color: black;
    border-radius: 40px;
}

.carousel-item i {
    font-size: 5rem;
    width: 100%;


}

.cv {
    background-color: #231B3B;
    color: whitesmoke;
    padding: 1rem;
    border-radius: 20px;
}

#about-me {
    margin: 2rem;
}

#about-me article {
    background-color: #231B3B !important;
    color: whitesmoke;
    padding: 2rem;
    margin-top: 2rem;
    width: 100%;
    border-radius: 20px;
}

#about-me h3
{
    text-align: center;
}



@media(min-width:768px) {


    #Presentation {
        display: flex;
        flex-direction: row;
    }

    /* .txt h2 {
        text-align: left;
    } */

    .txt {
        margin-top: 7.5rem;
        text-align: left;

    }


    .img-container {
        width: 50%;
    }

    .img {
        width: 90%;
        border-radius: 50px;
        height: 100%;
    }

    .carousel-item i {
        font-size: 8rem;
        width: 100%;
    }

}

@media(min-width:1024px) {

    .About h2 {
        margin-top: 2rem;
    }

    #about-me {
        display: flex;
    }

    #about-me article {
        background-color: #231B3B !important;
        color: whitesmoke;
        margin: 2rem;
        border-radius: 20px;
    }

    .txt,
    h2 {
        margin-top: 7.5rem;
        text-align: left;

    }

    .Hello {
        width: 80%;
        height: 40%;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        margin: auto;
        margin-top: 7rem
    }

    #Presentation {
        display: flex;
        flex-direction: row;

    }



    span {
        font-style: italic;
        font-size: 22px;
    }

    .img-container {
        width: 50%;
    }

    .img {
        padding: 2rem;
        width: 70%;
        border-radius: 50px;
        height: 100%;

    }

    .carousel-item i {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 7.5%;
        height: auto;
        border-radius: 20px;
        padding: 10px;
        font-size: 8rem;
        height: auto;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: #231B3B !important;
        color: black !important;
    }

    .cv {
        margin-top: 2rem;
        background-color: #231B3B;
        color: whitesmoke;
        padding: 1rem;
        border-radius: 20px;
    }

    #about-me h3 {
        text-align: center;
    }

    .contenedor-del-boton {
        display: flex;
        justify-content: center;
    }

    #about-me p {
        font-size: 20px;
        text-align: left;
    }

    #buttons {
        display: flex;
        justify-content: space-evenly;
    }

    #buttons a {
        font-size: 1.5rem;
        border: none;
        margin-top: 4rem;
        background-color: whitesmoke;
    }
}