<div class="About">
<section id="Presentation">
  <div class="fondo-borroso"></div>
  <div class="presentation-container">
    <article class="img-container">
      <img src="app/pages/Images/FotoFondo.jpg" class="perfil-img" alt="Foto de perfil">
    </article>

  <article class="Intro">
  <h1>¡Hola! Soy <span class="nombre">Charlie</span></h1>
  <h2 class="subtitulo">
    <span>Desarrollador.NET</span>
    <span>Autodidacta</span>
    <span>Emprendedor</span>
  </h2>
</article>
  </div>

  <article class="Acerca">
    <h1>Acerca de mí</h1>
    <p>
      Empecé mi camino durante la pandemia. Desde entonces, fui aprendiendo múltiples áreas del mundo IT, 
      desde el desarrollo web hasta encontrar mi pasión como <strong>desarrollador backend especializado en .NET</strong>.
    </p>
  </article>
</section>

    <article class="contenedor-del-boton">
    <button (click)="scrollToContacto()" class="buttons">¡Mandame un Mail!</button>
   <button (click)="descargarCV()" class="buttons">¡Descargar mi CV!</button>
        <a href="https://www.linkedin.com/in/carlos-palladino/" target="_blank">
            <button class="buttons">¡Visitame en Linkedin!</button>
        </a>
    </article>
    <article>
    </article>
    <article class="iconos">        
    <h2>Habilidades Tecnicas</h2>
    <div class="images">
        <div>
            <img src="app/pages/Images/Tecnologias/c-sharp.png" alt="C#">
        </div>
        <div>
            <img src="app/pages/Images/Tecnologias/mysql.png" alt=".NET">
        </div>
        <div>
            <img src="app/pages/Images/Tecnologias/nodejs.png" alt=".NET">
        </div>
        <div>
            <img src="app/pages/Images/Tecnologias/sql-server.png" id="imgs" alt=".NET">
        </div>
        <div>
            <img src="app/pages/Images/Tecnologias/Angular.png" id="imgs" alt=".NET">
        </div>
        <div>
            <img src="app/pages/Images/Tecnologias/.net.png" id="imgsr" alt=".NET">
        </div>
           <div>
            <img src="app/pages/Images/Tecnologias/Net-core.png" id="imgsr" alt=".NET">
        </div>
         <div>
            <img src="app/pages/Images/Tecnologias/unicornEF.png" id="imgsr" alt=".NET">
        </div>
    </div>
    <h2>Herramientas</h2>
    <div class="images">
        <div>
            <img src="app/pages/Images/herramientas/figma.png" alt="C#">
        </div>
        <div>
            <img src="app/pages/Images/herramientas/git.png" alt="Git">
        </div>
        <div>
            <img src="app/pages/Images/herramientas/postman.png" alt="Postman">
        </div>
        <div>
            <img src="app/pages/Images/herramientas/bootstrap.png" id="imgs" alt="Bootstrap">
        </div>   <div>
            <img src="app/pages/Images/herramientas/swagger.png" id="imgs" alt="Swagger">
        </div>
    </div>
    </article>
    
    <div>
        <app-experiencia></app-experiencia>
    </div>
    <div>
        <app-certificaciones></app-certificaciones>
    </div>
    <div id="contacto">
        <app-contacto></app-contacto>
    </div>
    <!-- <h3>© 2025 Carlos Palladino todos los derechos reservados.</h3> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</div>