<!DOCTYPE html>
<html lang="en">
<body>
  <div id="experiencia">
    <div class="contenedor">
      <h1 class="titulo">EXPERIENCIA LABORAL</h1>
     <ol class="experiencia-lista">
  <!-- Trabajo 1 (más reciente) -->
  <li class="experiencia-item">
    <div class="punto"></div>
    <div class="info-principal">
      <span class="anios">06/2024 - 05/2025</span>
      <span class="titulo-trabajo">Desarrollador .NET</span>
      <span class="separador"></span>
      <span class="lugar">Valkimia/</span>
    </div>
 
  <span class="celula">Célula Geia:</span>
  <p class="detalles">
    Desarrollé asistentes de inteligencia artificial utilizando <span>Globant Enterprise AI</span>, integrados con <span>.NET Core 8</span> y <span>Jira</span> para el análisis de documentación técnica mediante <span>Cadena de Pensamiento</span>.
    <br class="tecnologias">
  </p>

  <span class="celula">Célula Dashboard X:</span>
  <p class="detalles">
    Llevé adelante mejoras evolutivas enfocadas en asegurar la correcta utilización de datos sensibles por producto y por fecha.
    <br class="tecnologias">
  </p>

  <span class="celula">Célula Billetera:</span>
  <p class="detalles">
    Implementé pruebas <span>unitarias e integradoras con NUnit</span> para validar el funcionamiento de las colas de mensajería encargadas del procesamiento de transacciones.
    <br class="tecnologias">
  </p>
  </li>

  <!-- Trabajo 2 -->
  <li class="experiencia-item">
    <div class="punto"></div>
    <div class="info-principal">
      <span class="anios">03/2023 - 12/2024</span>
      <span class="titulo-trabajo">Desarrollador .NET Full Stack</span>
      <span class="separador"></span>
      <span class="lugar">TvSim</span>
      <span class="separador"></span>
      <span class="lugar">Freelance</span>
    </div>
    <p class="detalles">
      Rediseñé la obtención de datos reemplazando consultas embebidas por el uso de <span>Linq</span> y <span>DTOs</span> para evitar redundancias y mejorar la legibilidad del código.<br>
      Además, diseñé y desarrollé funcionalidades para múltiples capítulos reutilizando la lógica del capítulo piloto, incluyendo locaciones, elenco y costos por capítulo.
    </p>
  </li>

  <!-- Trabajo 3 (más antiguo) -->
  <li class="experiencia-item">
    <div class="punto"></div>
    <div class="info-principal">
      <span class="anios">04/2022 - 10/2024</span>
      <span class="titulo-trabajo">Desarrollador WinForms</span>
      <span class="separador"></span>
      <span class="lugar">Dinos Gym</span>
      <!-- <span class="separador"></span> -->
      <span class="lugar">Freelance</span>

    </div>
    <p class="detalles">
      Diseñé e implementé una aplicación de escritorio para la gestión de usuarios, rutinas y ventas en un gimnasio utilizando <span>WinForms</span> y <span>.NET Framework 4.8</span>.<br>
      Integré una base de datos en <span>SQL Server</span> con funcionalidad de respaldo automático y desarrollé exportaciones a <span>Excel</span> para facilitar el control de datos.
    </p>
  </li>
</ol>
    </div>
  </div>
</body>
</html>