/* General */
#experiencia {
    background-color: #1a202c; /* Fondo oscuro */
    color: white; /* Texto claro */
    padding: 2rem 0;
}

.contenedor {
    max-width: 1040px;
    margin: 0 auto;
    padding: 1rem;
}

.titulo {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #f7fafc; /* Blanco */
}

/* Lista de experiencias */
.experiencia-lista {
    display: flex;
    flex-direction: column;
    position: relative;
    /* margin-left: 10%; */
    overflow: hidden; /* Oculta cualquier cosa fuera del contenedor */
}

.experiencia-item {
    position: relative;
    margin-bottom: 3rem;
    list-style-type: none; 
    padding-left: 2rem;
    opacity: 0; /* Inicialmente invisible */
    transform: translateX(-20px); /* Desplaza los elementos hacia la izquierda */
    animation: aparecer 1s ease-out forwards; /* Animación para hacerlos visibles */
}

.experiencia-item:nth-child(1) {
    animation-delay: 0.5s; /* Retraso para el primer elemento */
}

.experiencia-item:nth-child(2) {
    animation-delay: 1s; /* Retraso para el segundo elemento */
}

.experiencia-item:nth-child(3) {
    animation-delay: 1.5s; /* Retraso para el tercer elemento */
}

.experiencia-item:nth-child(4) {
    animation-delay: 2s; /* Retraso para el cuarto elemento */
}

.experiencia-item:nth-child(5) {
    animation-delay: 2.5s; /* Retraso para el quinto elemento */
}

@keyframes aparecer {
    to {
        opacity: 1; /* Aparece completamente */
        transform: translateX(0); /* Se posiciona en su lugar original */
    }
}

/* Punto indicador */
.punto {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: yellow; /* Verde */
    border-radius: 50%;
    border: 2px solid white;
    left: -8px;
    top: 5px;
}

/* Información principal */
.info-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.anios {
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    color: white;
    background-color: #2f855a; /* Verde más oscuro */
    border-radius: 999px;
}

.titulo-trabajo {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    color: #38a169; /* Verde */
    /* margin-left: 0.5rem; */
}

.lugar {
    font-size: 1rem;
    font-weight: bold;
    color: #f6ad55; /* Naranja */
}

.duracion {
    font-size: 1rem;
    font-weight: bold;
    color: #f6ad55; /* Naranja */
}

.separador {
    margin: 0 0.5rem;
    color: #cbd5e0; /* Gris claro */
}

/* Detalles */
.detalles {
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
    white-space: pre-line;
    color: #e2e8f0; /* Gris claro */
}

/* Certificado */
.certificado {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem; /* Tamaño de letra pequeño */
    font-weight: bold;
    color: white; /* Texto blanco */
    background-color: #4299e1; /* Azul */
    border-radius: 999px; /* Bordes redondeados */
    margin-left: 0.5rem;
    cursor: pointer;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

.certificado:hover {
    text-decoration: underline; /* Añade subrayado al pasar el mouse */
}

/* Media Queries */
@media (min-width: 768px) {
    .experiencia-lista {
        margin-left: 10%;
        padding-left: 30px;
    }

    .titulo {
        font-size: 3rem;
    }

    .info-principal {
        font-size: 1.125rem;
    }

    .titulo-trabajo {
        font-size: 1.5rem;
    }

    .detalles {
        font-size: 1.125rem;
    }
}
