#experiencia {
    background-color: #1a202c; 
    color: white; 
    padding: 2rem 0;
    background-image: radial-gradient(ellipse 50% 75% at 50% 47%, #7877c64d, #fff0);
}

.contenedor {
    max-width: 1040px;
    margin: 0 auto;
    padding: 1rem;
}

.titulo {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #f7fafc; 
}
.experiencia-lista {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 20px;
    overflow: hidden; 
}
.experiencia-item {
    position: relative;
    margin-bottom: 3rem;
    list-style-type: none; 
    padding-left: 2rem;
    opacity: 0; 
    transform: translateX(-20px); 
    animation: aparecer 1s ease-out forwards;
}

.experiencia-item .certificado,.certificadoDH{
  display: inline-block;
  background-color: #00bcd4;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.experiencia-item:nth-child(1) {
    animation-delay: 0.5s; 
}
.experiencia-item:nth-child(2) {
    animation-delay: 1s; 
}
.experiencia-item:nth-child(3) {
    animation-delay: 1.5s; 
}
.experiencia-item:nth-child(4) {
    animation-delay: 2s; 
}
.experiencia-item:nth-child(5) {
    animation-delay: 2.5s; 
}
@keyframes aparecer {
    to {
        opacity: 1; 
        transform: translateX(0); 
    }
}
.punto {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #ed8936; 
    border-radius: 50%;
    border: 2px solid white;
    left: -8px;
    top: 5px;
}
.info-principal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem; 
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
.anios {
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    color: white;
    background-color: #2f855a; 
    border-radius: 999px;
}
.titulo-trabajo {
    font-size: 1.25rem;
    font-weight: bold;
    color: #38a169; 
}
.lugar {
    font-size: 1rem;
    font-weight: bold;
    color: #f6ad55; 
}
.duracion {
    font-size: 1rem;
    font-weight: bold;
    color: #f6ad55; 
}
.separador {
    margin: 0 0.5rem;
    color: #cbd5e0; 
}

.detalles {
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
    white-space: pre-line;
    color: #e2e8f0; 
}

.certificado {
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    color: white; 
    background-color: #17a2b8;
    border-radius: 999px; 
    cursor: pointer;
    text-decoration: none; 
}
.certificadoDH{
        padding: 0.25rem 0.5rem;
}
.certificado:hover,.certificadoDH:hover {
    text-decoration: underline; 
}
@media (min-width: 768px) {

    #experiencia{
    background-image: radial-gradient(ellipse 21% 75% at 50% 47%, #7877c64d, #fff0);
    }
    .info-principal {
      flex-direction: unset;
      text-align: left;
      align-items: center;
    }
     .experiencia-item .certificado{
        margin-left: 5rem ;

    }
    .experiencia-item .certificadoDH{
        margin-left: 1rem ;
    }
  }
