<!DOCTYPE html>
<html lang="en">
<body>
  <div id="experiencia">
    <div class="contenedor">
      <h1 class="titulo">Educación y Certificaciones</h1>
      <ol class="experiencia-lista">
        
        <!-- Thanos -->
        <li class="experiencia-item">
          <div class="punto"></div>
          <div class="info-principal">
            <span class="anios">06/2024</span>
            <span class="titulo-trabajo">Thanos .Net</span>
            <span class="separador"></span>
            <span class="lugar">Valkimia/</span>
            <a href="https://drive.google.com/file/d/1u90KoKzdM_UPUkeMNa2eApcFK5MgEheD/view?usp=drive_link" class="certificado" target="_blank">Certificado</a>
          </div>
          <p class="detalles">
            Durante esta experiencia, desarrollé un proyecto que simulaba un torneo de tenis, aplicando los principios <span>SOLID</span>, el patrón <span>Producer-Consumer</span> y la separación por capas. El proyecto fue destacado por el uso de buenas prácticas e implementación de <span>pruebas unitarias</span>, lo que reforzó el comportamiento del código.
          </p>
        </li>

        <!-- Testing QA -->
        <li class="experiencia-item">
          <div class="punto"></div>
          <div class="info-principal">
            <span class="anios">No me acuerdo</span>
            <span class="titulo-trabajo">Testing QA</span>
            <span class="separador"></span>
            <span class="lugar">Chicos.Net</span>
            <a href="https://drive.google.com/file/d/1kOGV0OTrllK51nZhaoI1CuVz_7NinCG9/view?usp=drive_link" class="certificado" target="_blank">Certificado</a>
          </div>
          <p class="detalles">
            En este curso aprendí los fundamentos del <span>testing</span> bajo la hipótesis de “¿por qué testeamos?”. Además, comprendí la diferencia entre <span>pruebas unitarias</span> e <span>integrales</span>, y técnicas basadas en el <span>camino no feliz</span>.
          </p>
        </li>

        <!-- C# Nivel 3 -->
        <li class="experiencia-item">
          <div class="punto"></div>
          <div class="info-principal">
            <span class="anios">04/2023</span>
            <span class="titulo-trabajo">C# Nivel 3</span>
            <span class="separador"></span>
            <span class="lugar">Maxi programa</span>
            <a href="https://drive.google.com/file/d/11lNOQ_aPkhkzv_LDGXq2mRt7es8h_POz/view?usp=drive_link" class="certificado" target="_blank">Certificado</a>
          </div>
          <p class="detalles">
            Desarrollé una web que simulaba una tienda online utilizando <span>C#</span>, <span>.NET</span>, <span>HTML</span>, <span>CSS</span> y <span>SQL Server</span>, aplicando arquitectura por capas y buenas prácticas de desarrollo.
          </p>
        </li>

        <!-- C# Nivel 2 -->
        <li class="experiencia-item">
          <div class="punto"></div>
          <div class="info-principal">
            <span class="anios">03/2023</span>
            <span class="titulo-trabajo">C# Nivel 2</span>
            <span class="separador"></span>
            <span class="lugar">Maxi programa</span>
            <a href="https://drive.google.com/file/d/1toJeOU-Fa-d7uePlSMux-qtFI-swBYwj/view?usp=drive_link" class="certificado" target="_blank">Certificado</a>
          </div>
          <p class="detalles">
            Aprendí a desarrollar una aplicación de escritorio utilizando <span>.NET Framework 4.8</span>, <span>WinForms</span> y una base de datos con <span>SQL Server</span>. Reforcé mis conocimientos en <span>C#</span>, <span>Ado.NET</span> y el patrón por capas.
          </p>
        </li>

        <!-- Full Stack Web -->
        <li class="experiencia-item">
          <div class="punto"></div>
          <div class="info-principal">
            <span class="anios">10/2022</span>
            <span class="titulo-trabajo">Full Stack Web Developer</span>
            <span class="separador"></span>
            <span class="lugar">Digital House</span>
            <a href="https://drive.google.com/file/d/1YUWbpoeDg68Soz30yp-HXzJ-u_3vwnbZ/view?usp=drive_link" class="certificado" target="_blank">Certificado</a>
          </div>
          <p class="detalles">
            Este curso me brindó los principios básicos del desarrollo web, centrándose en <span>Mobile First</span> y uso de eventos con <span>JavaScript</span> para interacción dinámica. Usé tecnologías como <span>Node.js</span>, <span>React.js</span>, <span>MySQL</span> y <span>Sequelize</span>.
          </p>
        </li>
      </ol>
    </div>
  </div>
</body>
</html>
