<!DOCTYPE html>
<html lang="en">
<body>
  <div id="experiencia">
    <div class="contenedor">
      <h1 class="titulo">Educación y Certificaciones</h1>
      <ol class="experiencia-lista">
        <!-- Trabajo 1 -->
        <li class="experiencia-item">
          <div class="punto"></div>
          <div class="info-principal">
            <span class="anios">Jun-24 - Act</span>
            <span class="titulo-trabajo">Desarrollador .Net</span>
            <span class="separador">|</span>
            <span class="lugar">Valkimia/</span>
          </div>
          <p class="detalles">
          </p>
          <p class="detalles">
          </p>
        </li>  <li class="experiencia-item">
            <div class="punto"></div>
            <div class="info-principal">
              <span class="anios">Jun-24 - Act</span>
              <span class="titulo-trabajo">Testing </span>
              <span class="separador">|</span>
              <span class="lugar">Valkimia/</span>
            </div>
            <p class="detalles">
            </p>
            <p class="detalles">
            </p>
          </li>
        <li class="experiencia-item">
            <div class="punto"></div>
            <div class="info-principal">
              <span class="anios">Abr-23 - May-23</span>
              <span class="titulo-trabajo">C# Nivel 3 </span>
              <span class="separador">|</span>
              <span class="lugar">Maxi programa</span>
            </div>
            <p class="detalles">
            </p>
            <p class="detalles">
            </p>
          </li>  <li class="experiencia-item">
            <div class="punto"></div>
            <div class="info-principal">
              <span class="anios">Mar23 - Abr-23</span>
              <span class="titulo-trabajo">C# Nivel 2 </span>
              <span class="separador">|</span>
              <span class="lugar">Maxi programa</span>
            </div>
            <p class="detalles">
            </p>
            <p class="detalles">
            </p>
          </li>  <li class="experiencia-item">
            <div class="punto"></div>
            <div class="info-principal">
              <span class="anios">Abr-22 - Oct-22</span>
              <span class="titulo-trabajo">Full Stack web developer</span>
              <span class="separador">|</span>
              <span class="lugar">Digital House</span>
            </div>
            <p class="detalles">
            </p>
            <p class="detalles">
            </p>
          </li>
        <!-- ++ info si se quiera +++ -->
      </ol>
    </div>
  </div>
</body>
</html>
